-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: jt_pod
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `awbs`
--

DROP TABLE IF EXISTS `awbs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `awbs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `waybill` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sprinter_id` bigint unsigned DEFAULT NULL,
  `arrival_date` date DEFAULT NULL,
  `receiver_phone` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_delivery_at` datetime DEFAULT NULL,
  `status` enum('pending','assigned','pod_uploaded','done','cancelled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `waybill` (`waybill`),
  KEY `idx_awbs_sprinter` (`sprinter_id`),
  KEY `idx_awbs_arrival` (`arrival_date`),
  KEY `idx_awbs_status` (`status`),
  KEY `idx_awbs_receiver_phone` (`receiver_phone`),
  CONSTRAINT `fk_awbs_sprinter` FOREIGN KEY (`sprinter_id`) REFERENCES `sprinters` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3051 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `awbs`
--

LOCK TABLES `awbs` WRITE;
/*!40000 ALTER TABLE `awbs` DISABLE KEYS */;
/*!40000 ALTER TABLE `awbs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pod_images`
--

DROP TABLE IF EXISTS `pod_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pod_images` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `awb_id` bigint unsigned NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_index` int NOT NULL DEFAULT '0',
  `uploaded_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_pod_images_awb_order` (`awb_id`,`order_index`),
  KEY `idx_pod_images_awb` (`awb_id`),
  KEY `idx_pod_images_awb_order` (`awb_id`,`order_index`),
  CONSTRAINT `fk_pod_images_awb` FOREIGN KEY (`awb_id`) REFERENCES `awbs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pod_images`
--

LOCK TABLES `pod_images` WRITE;
/*!40000 ALTER TABLE `pod_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `pod_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pods`
--

DROP TABLE IF EXISTS `pods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pods` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `awb_id` bigint unsigned NOT NULL,
  `merged_file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `physical_file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('pending','accepted','rejected') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `awb_id` (`awb_id`),
  KEY `idx_pods_created_at` (`created_at`),
  KEY `idx_pods_status` (`status`),
  CONSTRAINT `fk_pods_awb` FOREIGN KEY (`awb_id`) REFERENCES `awbs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pods`
--

LOCK TABLES `pods` WRITE;
/*!40000 ALTER TABLE `pods` DISABLE KEYS */;
INSERT INTO `pods` VALUES (14,2188,'uploads/pod_merged/JX6705446081_LS0000235845_1768648696617_MERGED.jpg','2026-01-17 11:18:16','uploads/pod_physical/JX6705446081_LS0000235845_1768648696677_PHYSICAL.jpg',NULL),(15,2253,'uploads/pod_merged/JX6719263205_LS0000009547_1768650240082_MERGED.jpg','2026-01-17 11:44:00','uploads/pod_physical/JX6719263205_LS0000009547_1768650240134_PHYSICAL.jpg',NULL),(16,1957,'uploads/pod_merged/JX6709795794_LAH010060_1768650271098_MERGED.jpg','2026-01-17 11:44:31','uploads/pod_physical/JX6709795794_LAH010060_1768650271149_PHYSICAL.jpg',NULL);
/*!40000 ALTER TABLE `pods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sprinters`
--

DROP TABLE IF EXISTS `sprinters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sprinters` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pin_hash` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3040 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sprinters`
--

LOCK TABLES `sprinters` WRITE;
/*!40000 ALTER TABLE `sprinters` DISABLE KEYS */;
/*!40000 ALTER TABLE `sprinters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_awb_admin`
--

DROP TABLE IF EXISTS `v_awb_admin`;
/*!50001 DROP VIEW IF EXISTS `v_awb_admin`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_awb_admin` AS SELECT 
 1 AS `id`,
 1 AS `waybill`,
 1 AS `arrival_date`,
 1 AS `receiver_phone`,
 1 AS `last_delivery_at`,
 1 AS `awb_status`,
 1 AS `sprinter_code`,
 1 AS `sprinter_name`,
 1 AS `has_pod`,
 1 AS `merged_file_path`,
 1 AS `physical_file_path`,
 1 AS `pod_validation_status`,
 1 AS `pod_created_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_awb_admin`
--

/*!50001 DROP VIEW IF EXISTS `v_awb_admin`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_awb_admin` AS select `a`.`id` AS `id`,`a`.`waybill` AS `waybill`,`a`.`arrival_date` AS `arrival_date`,`a`.`receiver_phone` AS `receiver_phone`,`a`.`last_delivery_at` AS `last_delivery_at`,`a`.`status` AS `awb_status`,`s`.`code` AS `sprinter_code`,`s`.`name` AS `sprinter_name`,(`p`.`id` is not null) AS `has_pod`,`p`.`merged_file_path` AS `merged_file_path`,`p`.`physical_file_path` AS `physical_file_path`,`p`.`status` AS `pod_validation_status`,`p`.`created_at` AS `pod_created_at` from ((`awbs` `a` left join `sprinters` `s` on((`s`.`id` = `a`.`sprinter_id`))) left join `pods` `p` on((`p`.`awb_id` = `a`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-17 19:03:23
